@model bool


@{
    ViewData["Title"] = "Üye Ol";
}
<!--
<style>
    .deneme_uyeol {
        width: 1200px;
        height: 300px;
        margin: 0;
        padding: 0;
        background-image: url('../wwwroot/img/ÜyeOlmaEkranı/sopranos.jpg');
    }
</style> -->
@if (@Model == true)
{
    <script>alert("Kullanıcı adı kullanımda lütfen başka kullanıcı adı deneyiniz!");</script>
}

<section class="normal-breadcrumb set-bg" data-setbg="/img/ÜyeOlmaEkranı/sopranos.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>ÜYE OL</h2>
                    <p>Dizile.com Üye Olma sayfası</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="signup spad">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="login__form">

                    <h3>ÜYE OL</h3>

                    <form method="post">
                        <!-- KULLANICI ADI GİRDİSİ -->
                        <div class="input__item">
                            <input type="text" placeholder="Kullanıcı Adı" class="name" name="KullaniciAdi" required="" />
                            <span class="icon_profile"></span>
                        </div>

                        <!-- PAROLA GİRDİSİ -->
                        <div class="input__item">
                            <input type="password" placeholder="Parola" class="password" name="Parola" required="">
                            <span class="icon_lock"></span>
                        </div>

                        <button type="submit" class="site-btn">Üye Ol</button>
                    </form>

                    <h5>Zaten bir hesabın var mı? <a asp-area="" asp-controller="GirisYap" asp-action="GirisYapSayfasi">Giriş Yap!</a></h5>
                </div>
            </div>

            <div class="col-lg-6">

                <div class="anime__details__text">
                    <p>
                        <span style="color:white">
                            &nbsp;&nbsp;&nbsp;&nbsp;Üye olun ve Dizile.com da yerinizi alın.Üyelere özel yorum yapma , beğenme gibi özelliklere erişin.
                            Yorum yaparak diğer kullanıcılarla iletişime geçin ve fikir alış-verişinde bulunun.
                        </span>
                    </p>
                </div>

            </div>

        </div>
    </div>
</section>