<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - WEBPROGRAMLAMA_ODEV</title>

    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dizile.com</title>

    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CSS STYLES -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/css/plyr.css" type="text/css" />
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
</head>


<body>

    <div id="preloder"> <!-- Sayfalar arası geçişlerde yumuşaklık sağlayan div -->
        <div class="loader">

        </div>
    </div>

    <!-- HEADER SECTİON -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/img/Dizile.comLogo.png" alt="" /> </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <!-- AnaSayfa -->
                                <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>

                                <!-- Diziler -->
                                <li><a asp-area="" asp-controller="Diziler" asp-action="DizilerSayfasi">Diziler</a></li>

                                <!-- Üyelik ve GirişYap -->
                                <li>
                                    <a asp-area="" asp-controller="UyeOl" asp-action="UyeOlSayfasi">Üyelik <span class="arrow_carrot-down"></span></a>

                                    <ul class="dropdown">
                                        <li><a asp-area="" asp-controller="GirisYap" asp-action="GirisYapSayfasi">Giriş Yap</a></li>
                                        <li><a asp-area="" asp-controller="UyeOl" asp-action="UyeOlSayfasi">Üye Ol</a></li>
                                    </ul>
                                </li>

                                <!-- Hakkımızda -->
                                <li><a asp-area="" asp-controller="Hakkimizda" asp-action="HakkimizdaSayfasi">Hakkımızda</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="header__right">

                        <a href="#" class="search-switch"><span class="icon_search"></span></a> <!-- ARAMA ÇUBUĞU MİSALİ -->

                        <a asp-area="" asp-controller="GirisYap" asp-action="GirisYapSayfasi"><span class="icon_profile"></span></a>

                    </div>
                </div>

            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- HEADER SECTİON BİTTİ -->

    <div class="container">
        @RenderBody()
    </div>
    
    <!-- Normalde projemize arama kısmı getirecektik fakat sonra vazgeçtik.Yine de viewi güzel durduğu için buradan silmedik. -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Bir dizi arayın...">
            </form>
        </div>
    </div>

    <!-- JS PLUGINLERİ -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/player.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
