body {
    padding-top: 90px
}



.navbar.fixed-left {
    background-color:#111111;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030
}

/* NAVBAR LİNKLERİ */
.navbar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

    /* AKTİF LİNK */
    .navbar a.active {
        background-color: #FFFFFF;
        color: white;
    }

    /* MOUSE BUTON ÜSTÜNE GELDİĞİNDE */
    .navbar a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

    /*RESPONSİVLİK SAĞLAYAN BOYUT AYARLARI*/

@media (min-width: 768px) {
    .navbar.fixed-left {
        bottom: 0;
        width: 232px;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

        .navbar.fixed-left .navbar-collapse {
            flex-grow: 0;
            flex-direction: column;
            width: 100%
        }

            .navbar.fixed-left .navbar-collapse .navbar-nav {
                flex-direction: column;
                width: 100%
            }

                .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
                    width: 100%
                }

                    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
                        top: 0
                    }
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        right: auto
    }

        .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
            border-top: .3em solid transparent;
            border-left: .3em solid;
            border-bottom: .3em solid transparent;
            border-right: none;
            vertical-align: baseline
        }

        .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
            left: 100%
        }
}
@media (min-width: 768px) {
    body {
        padding-top: 0
    }
}

@media (min-width: 768px) {
    body {
        margin-left: 232px
    }
}