@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    İLKER
    BURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİ     İLKER
    BURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI İLKER
    BURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI İLKER
    BURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI SAYFA İÇERİĞİBURASI
    <p">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>