@{
    ViewData["Title"] = "Ana Sayfa";
}
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="img/AnasayfaGörüntüler/queensgambit.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">DRAM</div>
                            <h2>The Queen's Gambit</h2>
                            <p>Bir satranç dahisinin yaşam öyküsü</p>
                            <a href="https://www.netflix.com/tr/title/80234304"><span>ŞİMDİ İZLE</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/AnasayfaGörüntüler/thecrown.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">BİYOGRAFİ</div>
                            <h2>The Crown</h2>
                            <p>Kraliçe II. Elizabeth'in saltanat dönemini tüm duygularla önümüze serer</p>
                            <a href="https://www.netflix.com/tr/title/80025678"><span>ŞİMDİ İZLE</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/AnasayfaGörüntüler/thewitcher.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">FANTEZİ</div> <div class="label">DRAMA</div>
                            <h2>The Witcher</h2>
                            <p>Andrzej Sapkowski'nin aynı adlı kitap serisine dayanan fantastik eser</p>
                            <a href="https://www.netflix.com/tr/title/80189685"><span>ŞİMDİ İZLE</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
